<!doctype html>
<html ng-app>
<head>
    <title>Hello AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    <script src="hello.js"></script>
</head>
<body>
    <div ng-controller="Hello">
        <ul ng-repeat="customer in customers">
            <li>{{customer.id}} {{customer.firstName}} {{customer.lastName}}</li>
        </ul>
    </div>
</body>
</html>